*{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-size: large;
    color: blue;
    white-space: normal; 
    width: 750px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
span {
    color:red;
    font-size: large;
}

input{
    border-radius: 1in;
    color:darkblue;
    width: 400px;
    height: 25px;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    text-transform: uppercase;
}

input:focus {
    outline: none;
}
